In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.6-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.6
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition = fetch_ucirepo(id=544) 
  
# data (as pandas dataframes) 
X = estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.features 
y = estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets 
  
# metadata 
print(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.metadata) 
  
# variable information 
print(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.variables)

{'uci_id': 544, 'name': 'Estimation of Obesity Levels Based On Eating Habits and Physical Condition ', 'repository_url': 'https://archive.ics.uci.edu/dataset/544/estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition', 'data_url': 'https://archive.ics.uci.edu/static/public/544/data.csv', 'abstract': 'This dataset include data for the estimation of obesity levels in individuals from the countries of Mexico, Peru and Colombia, based on their eating habits and physical condition. ', 'area': 'Health and Medicine', 'tasks': ['Classification', 'Regression', 'Clustering'], 'characteristics': ['Multivariate'], 'num_instances': 2111, 'num_features': 16, 'feature_types': ['Integer'], 'demographics': ['Gender', 'Age'], 'target_col': ['NObeyesdad'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2019, 'last_updated': 'Mon Feb 26 2024', 'dataset_doi': '10.24432/C5H31Z', 'creators': [], 'intro_paper': {'title': 'Dataset for estimation of obesity levels based on eating habits and physical condition in individuals from Colombia, Peru and Mexico', 'authors': 'Fabio Mendoza Palechor, Alexis De la Hoz Manotas', 'published_in': 'Data in Brief', 'year': 2019, 'url': 'https://www.semanticscholar.org/paper/35b40bacd2ffa9370885b7a3004d88995fd1d011', 'doi': '10.1016/j.dib.2019.104344'}, 'additional_info': {'summary': 'This dataset include data for the estimation of obesity levels in individuals from the countries of Mexico, Peru and Colombia, based on their eating habits and physical condition. The data contains 17 attributes and 2111 records, the records are labeled with the class variable NObesity (Obesity Level), that allows classification of the data using the values of Insufficient Weight, Normal Weight, Overweight Level I, Overweight Level II, Obesity Type I, Obesity Type II and Obesity Type III. 77% of the data was generated synthetically using the Weka tool and the SMOTE filter, 23% of the data was collected directly from users through a web platform.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Read the article (https://doi.org/10.1016/j.dib.2019.104344) to see the description of the attributes.', 'citation': None}}
                              name     role         type demographic  \
0                           Gender  Feature  Categorical      Gender
1                              Age  Feature   Continuous         Age
2                           Height  Feature   Continuous        None
3                           Weight  Feature   Continuous        None
4   family_history_with_overweight  Feature       Binary        None
5                             FAVC  Feature       Binary        None
6                             FCVC  Feature      Integer        None
7                              NCP  Feature   Continuous        None
8                             CAEC  Feature  Categorical        None
9                            SMOKE  Feature       Binary        None
10                            CH2O  Feature   Continuous        None
11                             SCC  Feature       Binary        None
12                             FAF  Feature   Continuous        None
13                             TUE  Feature      Integer        None
14                            CALC  Feature  Categorical        None
15                          MTRANS  Feature  Categorical        None
16                      NObeyesdad   Target  Categorical        None

                                          description units missing_values
0                                                None  None             no
1                                                None  None             no
2                                                None  None             no
3                                                None  None             no
4   Has a family member suffered or suffers from o...  None             no
5            Do you eat high caloric food frequently?  None             no
6        Do you usually eat vegetables in your meals?  None             no
7              How many main meals do you have daily?  None             no
8                  Do you eat any food between meals?  None             no
9                                       Do you smoke?  None             no
10                 How much water do you drink daily?  None             no
11         Do you monitor the calories you eat daily?  None             no
12           How often do you have physical activity?  None             no
13  How much time do you use technological devices...  None             no
14                    How often do you drink alcohol?  None             no
15           Which transportation do you usually use?  None             no
16                                      Obesity level  None             no

In [2]:
X.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

In [3]:
y.head()

            NObeyesdad
0        Normal_Weight
1        Normal_Weight
2        Normal_Weight
3   Overweight_Level_I
4  Overweight_Level_II

In [4]:
# https://www.geeksforgeeks.org/how-to-convert-categorical-variable-to-numeric-in-pandas/

import pandas as pd

gender_dummies = pd.get_dummies(X.Gender)

updated_X_Gender = pd.concat([X,gender_dummies],axis='columns')

updated_X_Gender.drop(['Gender','Male'],axis='columns',inplace=True)

updated_X_Gender.head()

,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,1
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,1
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,0
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,0
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,0

In [5]:
family_history_dummies = pd.get_dummies(updated_X_Gender.family_history_with_overweight)

updated_X_family_history = pd.concat([updated_X_Gender,family_history_dummies],axis='columns')

updated_X_family_history.drop(['family_history_with_overweight','yes'],axis='columns',inplace=True)

updated_X_family_history.rename(columns={'no':'family_history_with_overweight_no'},inplace=True)

updated_X_family_history.head()

,Age,Height,Weight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,family_history_with_overweight_no
0,21.0,1.62,64.0,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,1,0
1,21.0,1.52,56.0,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,1,0
2,23.0,1.80,77.0,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,0,0
3,27.0,1.80,87.0,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,0,1
4,22.0,1.78,89.8,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,0,1

In [6]:
FAVC_dummies = pd.get_dummies(updated_X_family_history.FAVC)

updated_X_FAVC = pd.concat([updated_X_family_history,FAVC_dummies],axis='columns')

updated_X_FAVC.drop(['FAVC','no'],axis='columns',inplace=True)

updated_X_FAVC.rename(columns={'yes':'FAVC_yes'},inplace=True)

updated_X_FAVC.head()

,Age,Height,Weight,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,family_history_with_overweight_no,FAVC_yes
0,21.0,1.62,64.0,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,1,0,0
1,21.0,1.52,56.0,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,1,0,0
2,23.0,1.80,77.0,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,0,0,0
3,27.0,1.80,87.0,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,0,1,0
4,22.0,1.78,89.8,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,0,1,0

In [7]:
CAEC_dummies = pd.get_dummies(updated_X_FAVC.CAEC)

updated_X_CAEC = pd.concat([updated_X_FAVC,CAEC_dummies],axis='columns')

updated_X_CAEC.drop(['CAEC','no'],axis='columns',inplace=True)

updated_X_CAEC.rename(columns={'Always':'CAEC_Always','Frequently':'CAEC_Frequently','Sometimes':'CAEC_Sometimes',},inplace=True)

updated_X_CAEC.head()

,Age,Height,Weight,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,family_history_with_overweight_no,FAVC_yes,CAEC_Always,CAEC_Frequently,CAEC_Sometimes
0,21.0,1.62,64.0,2.0,3.0,no,2.0,no,0.0,1.0,no,Public_Transportation,1,0,0,0,0,1
1,21.0,1.52,56.0,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,1,0,0,0,0,1
2,23.0,1.80,77.0,2.0,3.0,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,0,0,0,0,0,1
3,27.0,1.80,87.0,3.0,3.0,no,2.0,no,2.0,0.0,Frequently,Walking,0,1,0,0,0,1
4,22.0,1.78,89.8,2.0,1.0,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,0,1,0,0,0,1

In [8]:
SMOKE_dummies = pd.get_dummies(updated_X_CAEC.SMOKE)

updated_X_SMOKE = pd.concat([updated_X_CAEC,SMOKE_dummies],axis='columns')

updated_X_SMOKE.drop(['SMOKE','no'],axis='columns',inplace=True)

updated_X_SMOKE.rename(columns={'yes':'SMOKE_yes'},inplace=True)

updated_X_SMOKE.head()

,Age,Height,Weight,FCVC,NCP,CH2O,SCC,FAF,TUE,CALC,MTRANS,Female,family_history_with_overweight_no,FAVC_yes,CAEC_Always,CAEC_Frequently,CAEC_Sometimes,SMOKE_yes
0,21.0,1.62,64.0,2.0,3.0,2.0,no,0.0,1.0,no,Public_Transportation,1,0,0,0,0,1,0
1,21.0,1.52,56.0,3.0,3.0,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,1,0,0,0,0,1,1
2,23.0,1.80,77.0,2.0,3.0,2.0,no,2.0,1.0,Frequently,Public_Transportation,0,0,0,0,0,1,0
3,27.0,1.80,87.0,3.0,3.0,2.0,no,2.0,0.0,Frequently,Walking,0,1,0,0,0,1,0
4,22.0,1.78,89.8,2.0,1.0,2.0,no,0.0,0.0,Sometimes,Public_Transportation,0,1,0,0,0,1,0

In [9]:
SCC_dummies = pd.get_dummies(updated_X_SMOKE.SCC)

updated_X_SCC = pd.concat([updated_X_SMOKE,SCC_dummies],axis='columns')

updated_X_SCC.drop(['SCC','no'],axis='columns',inplace=True)

updated_X_SCC.rename(columns={'yes':'SCC_yes'},inplace=True)

updated_X_SCC.head()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,CALC,MTRANS,Female,family_history_with_overweight_no,FAVC_yes,CAEC_Always,CAEC_Frequently,CAEC_Sometimes,SMOKE_yes,SCC_yes
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0,no,Public_Transportation,1,0,0,0,0,1,0,0
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0,Sometimes,Public_Transportation,1,0,0,0,0,1,1,1
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0,Frequently,Public_Transportation,0,0,0,0,0,1,0,0
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0,Frequently,Walking,0,1,0,0,0,1,0,0
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0,Sometimes,Public_Transportation,0,1,0,0,0,1,0,0

In [10]:
CALC_dummies = pd.get_dummies(updated_X_SCC.CALC)

updated_X_CALC = pd.concat([updated_X_SCC,CALC_dummies],axis='columns')

updated_X_CALC.drop(['CALC','no'],axis='columns',inplace=True)

updated_X_CALC.rename(columns={'Always':'CALC_Always','Frequently':'CALC_Frequently','Sometimes':'CALC_Sometimes',},inplace=True)

updated_X_CALC.head()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,MTRANS,Female,family_history_with_overweight_no,FAVC_yes,CAEC_Always,CAEC_Frequently,CAEC_Sometimes,SMOKE_yes,SCC_yes,CALC_Always,CALC_Frequently,CALC_Sometimes
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0,Public_Transportation,1,0,0,0,0,1,0,0,0,0,0
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0,Public_Transportation,1,0,0,0,0,1,1,1,0,0,1
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0,Public_Transportation,0,0,0,0,0,1,0,0,0,1,0
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0,Walking,0,1,0,0,0,1,0,0,0,1,0
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0,Public_Transportation,0,1,0,0,0,1,0,0,0,0,1

In [11]:
MTRANS_dummies = pd.get_dummies(updated_X_CALC.MTRANS)

updated_X_MTRANS = pd.concat([updated_X_CALC,MTRANS_dummies],axis='columns')

updated_X_MTRANS.drop(['MTRANS','Walking'],axis='columns',inplace=True)

updated_X_MTRANS.rename(columns={'Automobile':'MTRANS_Automobile','Bike':'MTRANS_Bike','Motorbike':'MTRANS_Motorbike','Public_Transportation':'MTRANS_Public_Transportation'},inplace=True)

updated_X_MTRANS.head()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Female,family_history_with_overweight_no,...,CAEC_Sometimes,SMOKE_yes,SCC_yes,CALC_Always,CALC_Frequently,CALC_Sometimes,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0,1,0,...,1,1,1,0,0,1,0,0,0,1
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0,0,0,...,1,0,0,0,1,0,0,0,0,1
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0,0,1,...,1,0,0,0,1,0,0,0,0,0
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0,0,1,...,1,0,0,0,0,1,0,0,0,1

In [12]:
y_dummies = pd.get_dummies(y.NObeyesdad)

updated_y = pd.concat([y,y_dummies],axis='columns')

updated_y.drop(['NObeyesdad'],axis='columns',inplace=True)

updated_y.head()

,Insufficient_Weight,Normal_Weight,Obesity_Type_I,Obesity_Type_II,Obesity_Type_III,Overweight_Level_I,Overweight_Level_II
0,0,1,0,0,0,0,0
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test = train_test_split(updated_X_MTRANS,updated_y,test_size=0.2,random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [15]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.0848806262617083

In [16]:
# Create a dictionary with the data
new_data_dict = {
    'Gender': ['Male'],
    'Age': [30],
    'Height': [165],
    'Weight': [70],
    'family_history_with_overweight': ['Yes'],
    'FAVC': ['No'],
    'FCVC': [3],
    'NCP': [3],
    'CAEC': ['Sometimes'],
    'SMOKE': ['No'],
    'CH2O':[2.0],
    'SCC':['no'],
    'FAF':[0.0],
    'TUE':[1.0],
    'CALC':['Frequently'],
    'MTRANS':['Public_Transportation']
}

In [17]:
new_data = pd.DataFrame(new_data_dict)

new_data['Female'] = (new_data['Gender'] == 'Female').astype(int)
new_data.drop(['Gender'],axis='columns',inplace=True)

new_data['family_history_with_overweight_no'] = (new_data['family_history_with_overweight'] == 'no').astype(int)
new_data.drop(['family_history_with_overweight'],axis='columns',inplace=True)

new_data['FAVC_yes'] = (new_data['FAVC'] == 'yes').astype(int)
new_data.drop(['FAVC'],axis='columns',inplace=True)

new_data['CAEC_Always'] = (new_data['CAEC'] == 'Always').astype(int)
new_data['CAEC_Frequently'] = (new_data['CAEC'] == 'Frequently').astype(int)
new_data['CAEC_Sometimes'] = (new_data['CAEC'] == 'Sometimes').astype(int)
new_data.drop(['CAEC'],axis='columns',inplace=True)

new_data['SMOKE_yes'] = (new_data['SMOKE'] == 'yes').astype(int)
new_data.drop(['SMOKE'],axis='columns',inplace=True)

new_data['SCC_yes'] = (new_data['SCC'] == 'yes').astype(int)
new_data.drop(['SCC'],axis='columns',inplace=True)

new_data['CALC_Always'] = (new_data['CALC'] == 'Always').astype(int)
new_data['CALC_Frequently'] = (new_data['CALC'] == 'Frequently').astype(int)
new_data['CALC_Sometimes'] = (new_data['CALC'] == 'Sometimes').astype(int)
new_data.drop(['CALC'],axis='columns',inplace=True)
               
new_data['MTRANS_Automobile'] = (new_data['MTRANS'] == 'Automobile').astype(int)
new_data['MTRANS_Bike'] = (new_data['MTRANS'] == 'Bike').astype(int)
new_data['MTRANS_Motorbike'] = (new_data['MTRANS'] == 'Motorbike').astype(int)
new_data['MTRANS_Public_Transportation'] = (new_data['MTRANS'] == 'Public_Transportation').astype(int)
new_data.drop(['MTRANS'],axis='columns',inplace=True)
               
# Print the DataFrame
new_data.head()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Female,family_history_with_overweight_no,...,CAEC_Sometimes,SMOKE_yes,SCC_yes,CALC_Always,CALC_Frequently,CALC_Sometimes,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation
0,30,165,70,3,3,2.0,0.0,1.0,0,0,...,1,0,0,0,1,0,0,0,0,1

In [18]:
predictions = model.predict(new_data)

In [19]:
#The sign of each value indicates whether the model predicts a positive or negative association with that category. For example, a negative value suggests a lower likelihood of belonging to that category, while a positive value suggests a higher likelihood.

# The magnitude of each value indicates the strength of the association. Larger absolute values indicate higher confidence in the prediction.

# [Insufficient_Weight | Normal_Weight | Obesity_Type_I | Obesity_Type_II | Obesity_Type_III | Overweight_Level_I | Overweight_Level_II]

print(predictions)

[[ 219.12878533  -37.87677792 -137.33922777  -66.49565378  -99.31614176
    69.41166222   53.48735367]]